.image-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image-button {
    background-color: #325b8d52;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-shadow: 10px;
  }

  .img-class{
    /* background-color: #007bff; */
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 80%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* .image-button:hover {
    background-color: #0056b3;
  } */
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  
  .response-data-container {
    margin-top: 20px;
  }
  
  .response-data {
    background-color: #f0f0f0;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  