*{
  margin:0;
  padding:0;
  box-sizing :border-box;
  font-family: sans-serif;
}

.container{
  width:100w;
  min-height: 100vh;
  background: #9ecacf;
  transition: 0.1s;
}

.container.dark{
  background: #222;
}
